<!DOCTYPE html>

<html>
    <head>
        <title>Ascii Art</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>Welcome to Ascii Art</h1>
      <label for="banner-choice">Choose a banner type (Standard, Shadow or Thinker Toy):</label>
      <input list="banner-choices" id="banner-choice" name="banner-choice"/>

      <datalist id="banner-choices">
          <option value="Standard">
              <option value="Shadow">
                  <option value="Thinker Toy">
                            </datalist>
        <button>Submit your choice now please!</button>
        <img class="fit-picture"
        src="https://logos-world.net/wp-content/uploads/2020/06/Tottenham-Hotspur-Logo.png"
        alt="Picture of the Spurs badge"
        height=400>
    </body>
</html>
