<!DOCTYPE html>

<html>
    <head>
        <title>Art of the Ascii</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>Welcome to Ascii Art</h1>
        <p>Please select banner type:</p>

        <form action="/ascii-art" method="POST">
        </form>

        <div>
          <input type="radio" id="standard" name="banner" value="standard"
                 checked>
          <label for="standard">Standard</label>
        </div>
        
        <div>
          <input type="radio" id="shadow" name="banner" value="shadow">
          <label for="shadow">Shadow</label>
        </div>
        
        <div>
          <input type="radio" id="thinker toy" name="banner" value="thinker toy">
          <label for="thinker toy">Thinker Toy</label>
        </div>
    </br>
    
    <form action="/ascii-art" method="POST">
        
        <label for="uSt">USER STRING</label>
        <input type="text" name="uString" id="uSt" placeholder="User String"?>
        
        <button>Submit your word now please!</button>
        <!-- <input type="submit"> -->
        
        
        
        
        
        </form>
        <!-- <img class="fit-picture"
        src="https://logos-world.net/wp-content/uploads/2020/06/Tottenham-Hotspur-Logo.png"
        alt="Picture of the Spurs badge"
        height=400> -->
    </body>
</html>
